# Directories
logs/
resourcepacks/
saves/
mods/memory_repo/
.mixin.out/
astralsorcery/
assets/
coremods/
crash-reports/
fonts/
journeymap/
Minecord/
resourcepacks/
screenshots/

# Files
*.jar
*.disabled
*.log
*.zip
*.dll
*.dat
options.txt
optionsof.txt
splash.properties


# Minecraft junk

usercache.json
usernamecache.json


# Mod junk

config/jei/worldSettings.cfg


# Misc

mods_old/
