# Directories
logs/
resourcepacks/
saves/
mods/memory_repo/
.mixin.out/
astralsorcery/
assets/
coremods/
crash-reports/
fonts/
journeymap/
Minecord/
patchoili-books/
resourcepacks/
screenshots/

# Files
*.jar
*.log
*.zip
*.dll
*.dat
options.txt
optionsof.txt
splash.properties
